In [5]:
#Importar o datset
import pandas as pd
student = pd.read_csv('data/student-por.csv', sep=';')
len(student)

649

In [6]:
#gerando rotulo binario (pass/fail) baseado em G1+G2+G3 (notas dos testes de 0-20); para passar sum>=30
student['pass'] = student.apply(lambda row: 1 if (row['G1']+row['G2']+row['G3']) >= 35 else 0, axis=1)
student = student.drop(['G1', 'G2', 'G3'], axis=1)
student.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,4,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,2,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,6,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,0,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,0,1

In [12]:
students = pd.get_dummies(student, columns=['sex', 'school', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup','paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'])
student.head()

,age,Medu,Fedu,traveltime,studytime,failures,famsup,famrel,freetime,goout,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,no,4,3,4,...,True,False,False,True,False,True,True,False,True,False
1,17,1,1,1,2,0,yes,5,3,3,...,True,False,True,False,False,True,False,True,True,False
2,15,1,1,1,2,0,no,4,3,2,...,True,False,False,True,False,True,False,True,True,False
3,15,4,2,1,3,0,yes,3,2,2,...,False,True,False,True,False,True,False,True,False,True
4,16,3,3,1,2,0,yes,4,3,2,...,True,False,False,True,False,True,True,False,True,False